<%= form_for(@mailing, :html => { :class => 'animado-02-in-out' }) do |f| %>
  <% if @mailing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailing.errors.count, "error") %> prohibited this mailing from being saved:</h2>

      <ul>
      <% @mailing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Avise-me</h3>

  <%= f.label :name, :class => "control-label", :id => 'label-nome', :title => "Nome" %>
  <%= f.text_field :name, :required => 'required', :id => 'input-nome', :class => 'input-small', :placeholder => 'Nome' %>
  <%= f.label :email, :class => 'control-label', :id => 'label-email', :title => 'E-mail' %>
  <%= f.email_field :email, :required => 'required', :id => 'input-email', :class => 'input-small', :placeholder => 'E-mail' %>
  <%= f.hidden_field( :allow, :value => '1' ) %>
  <%= f.submit 'OK', :class => 'submit-seta animado-02-in-out' %>

<% end %>
