<%= form_for(@mailing) do |f| %>
  <% if @mailing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailing.errors.count, "error") %> prohibited this mailing from being saved:</h2>

      <ul>
      <% @mailing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Avise-me</h3>

  <%= f.label :name, :class => "control-label", :id => 'label-nome', :title => "Nome" %>
  <%= f.text_field :name, :required => 'required', :id => 'input-name', :class => 'input-small', :placeholder => 'Nome' %>
  <%= f.label :email, :class => 'control-label', :id => 'label-email', :title => 'E-mail' %>
  <%= f.email_field :email, :required => 'required', :id => 'input-email', :class => 'input-small', :placeholder => 'E-mail' %>
  <%= f.hidden_field( :allow, :value => '1' ) %>
  <%= f.submit 'OK', :class => 'bubmit-seta' %>

<% end %>


<!--             <form>
              <h3>Me avise:</h3>
              <label id="label-nome" class="control-label" for="input-nome" title="Nome">Nome</label>
              <input type="text" id="input-nome" class="input-small" placeholder="Nome">

              <label id="label-email" class="control-label" for="input-email" title="E-mail">E-mail</label>
              <input type="email" id="input-email" class="input-small" placeholder="E-mail">

              <input class="submit-seta" type="submit" value="ok">

            </form>
 -->
